<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" style="width: 400px;height: 400px;" >
            <h1 align="center"> Log In </h1>
            <div class="container border">
                <form action="/admin" method='POST'>
                    <div class="form-group">
                        <h3><label class="text-info">Email/Username</label></h3>
                        <input class="form-control" name='email'></input>
                    </div>
                    <div class="form-group">
                        <h3><label class="text-info">Password</label></h3>
                        <input class="form-control" name="pwd">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" value='login'>
                    </div>
                </form>
                

            </div>
        </div>
    </body>
</html>